<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>派摩宠物用品批发商城</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body ng-app="myApp" ng-controller="viewctrl">
		<!--注册流程连接-->
		<header id="header">
			<a href="" id="new-user"></a>
		</header>
		<!--nav-->
		<nav id="nav" ng-controller="navctrl">
			<div id="log-reg">
				<div id="log-are">
					<div id="log-info">
						<span id="say-hi">Hi,欢迎来到派摩商城-宠物犬猫用品批发订购！</span>
						<div id="log-link">
							<a href="regist.html" class="a-li">注册</a>
							<span style="margin: 0 8px;">|</span>
							<a href="login.html" class="a-li checked">登录</a>
						</div>
						<div id="login-username">
							<span>{{username}}</span>
							<span style="margin: 0 8px;">|</span>
							<a href="" class="a-li" ng-click="logout()">退出</a>
						</div>
					</div>
					<div id="log-sys">
							<ul>
								<!--会员中心-->
								<li class="a-li item" id="log-vip">
									<a href="" class="a-li">会员中心</a>
									<span id="ui-arrow" class="ui"></span>
									<div id="item-sys">
										<dl>
											<dd class="dd-li"><a href="" class="a-li">待付款</a></dd>
											<dd class="dd-li"><a href="" class="a-li">待发货</a></dd>
										</dl>
									</div>
								</li>
								<!--购物车-->
								<li class="a-li item changeIcon" >
										<s id="item-shop" class="ui"></s>
										<a href="shopCard.html" class="a-li">购物车</a>
										<span id="item-shopNum">0</span>					
								</li>
								<!--收藏夹-->
								<li class="a-li item changeIcon">
									<s id="item-fav" class="ui"></s>
									<a href="" class="a-li">收藏夹</a>
								</li>
								
								<li class="a-li item changeIcon">
									<s class="ui"></s>
									<a href="" class="a-li">帮助中心</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
		</nav>	
		
		<!--搜索框-->
		<div id="search" ng-controller="loginctrl">
			<div class="logo" >
				<a href="" title="派摩商城-宠物犬猫用品批发订购" id="item-logo">
					<img src="img/7cbf8d477e9640eaa3fc6eefd188bcb9.png"/>
				</a>
			</div>
			
			<div class="seachbox">
				<div id="item-search">
					<form id="form">
						<input type="" id="search-input"/>
						<input type="hidden" id="rsword"/>
						<a class="button">搜索商品</a>
					</form>	
				</div>
				<div id="shelper"></div>
				<div id="hot-words">
					<strong>热门搜索 : </strong>
					<a href="" title="丑丑">&nbsp;丑丑</a>
					<a href="" title="福莱希">福莱希</a>
					<a href="" title="艾尔">艾尔</a>
					<a href="" title="petstages">petstages</a>
					<a href="" title="孝素水">孝素水</a>
					<a href="" title="爱旺">爱旺</a>
					<a href="" title="富嘉利">富嘉利</a>
				</div>
			</div>
				
			<div id="settleup">
				<dl>
					<dt class="set-dt">
						<s class="sprite"></s>
						<span class="sprite shopping">
							<span id="shop-num">0</span>
						</span>
						<a href="shopCard.html">去购物车结算</a>
						<b></b>
					</dt>
				</dl>
			</div>
				
			<div class="my-center">
				<dl>
				 	<dt class="set-dt">
						<s class="sprite" id="my-icon"></s>
						<a href="">我的账户</a>
						<b></b>
					</dt>
				
				</dl>
				<dd>
					<div class="prompt" id="prompt-login">
						您好，<a href="login.html" style="color: #005EA7;">请登录</a>
					</div>
					
					<div class="prompt" id="prompt-username">
						{{username}} <a href="" ng-click="logout()">退出</a>
					</div>
					
					
					
					<div class="uclist">
						<ul id="ul-list1">
							<li><a href="">我的收藏</a></li>
							<li><a href="">我的积分</a></li>
							<li><a href="">我的预存款</a></li>
							<li><a href="">我的消息</a></li>
						</ul>
						<ul id="ul-list2">
							<li><a href="">待处理订单</a></li>
							<li><a href="">缺货登记</a></li>
							<li><a href="">活动公告</a></li>
							<li><a href="">我的评价</a></li>
						</ul>
					</div>
					<div class="viewlist">
						<div class="smt">
							<h4>最近浏览商品:</h4>
						</div>
						<div style="clear: both;"></div>
						<div>暂时没有浏览记录</div>
					</div>
				</dd>
			</div>
		</div>
		<div style="clear: both;"></div>
		
		
		
		<!--主视图nav-->
		<div id="template-view"  ng-controller="ctrl">	
			<div id="template-nav" >
				<div id="item-list" >
					<div class="cssEdit">
						<div class="mt">
							<a href="">全部商品分类</a>
						</div>
						<div class="mc">
							<div class="item-li" ng-repeat="li in arr">
								<span>
									<h3><a href=""title={{li.list}} >{{li.list}}</a></h3>
									<i></i>
									<s></s>
								</span>
								<div class="item-div">
									<div class="item-sub">
										<dl class="item-fore" ng-repeat="nav in li.contents">
											<dt>
												<a href="">{{nav.navname}}</a>
											</dt>
											<dd >
												<em ng-repeat="navlist in nav.navlist">
													<a href="">{{navlist.name}}</a>
												</em>
											</dd>
										</dl>
									</div>
									
									<div class="item-right">
										<dl>
											<dt>推荐品牌</dt>
											<dd>
												<ul>
													<li ng-repeat="recomod in li.recomod">
														<a href="">{{recomod.reconame}}</a>
													</li>
												</ul>
											</dd>
										</dl>
										
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="item-menu"> 
					<ul class="item-ul" >
						<li ng-repeat="li in linkArr"><a href="">{{li.link}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--主页面-->
		<div id="main-view" ng-controller="ctrl2">
			<!--轮播图-->
			<div id="itemImg-box" type="img">
				<div id="delayload">
					<div class="smallslider">
						<ul>
							<li><a href=""><img src="img/b28e4d8d41694d6d8ea5560a91650dc6.jpg" alt="" /></a></li>
							<li><a href=""><img src="img/c9185134bb7840c889defa31a78792d8.jpg" alt="" /></a></li>
							<li><a href=""><img src="img/1f2c080cd6f2425a831397ab4d048bcc.jpg" alt="" /></a></li>
							<li><a href=""><img src="img/c881c8f7735442709c58e31204b9d573.jpg" alt="" /></a></li>
							<li><a href=""><img src="img/f7f94e2b795f46198b269ff08d91b83a.jpg" alt="" /></a></li>
						</ul>
						<div class="smallslider-btns">
							<span id="smallslider-btn1" date-num ="1">1</span>
							<span id="smallslider-btn2" style="margin-left: 4px;" date-num="2">2</span>
							<span id="smallslider-btn3" style="margin-left: 4px;" date-num="3">3</span>
							<span id="smallslider-btn4" style="margin-left: 4px;" date-num="4">4</span>
							<span id="smallslider-btn5" style="margin-left: 4px;" date-num="5">5</span>
							
						</div>
					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
			<!--新品发布，猜你喜欢，热卖推荐-->
			<div id="item-new">
				<div id="item-buytab">
					<div id="itembuy-outer">
						<div class="tab-arrow">
							<b></b>
						</div>
						<div id="tab-nav">
							<ul>
								<li class="curr-li">新品发布</li>
								<li>热卖推荐</li>
								<li>猜你喜欢</li>
							</ul>
						</div>
						<!--新品推荐-->
						<div id="tab-news">
							<div class="hold">
								<ul class="ul-block" >
									<li ng-repeat="li in imgArr">
										<div class="pic">
											<table cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td><a href="" title={{li.title}}><img src="{{li.src}}"/></a></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="pname">
											<a href="" title={{li.title}}>{{li.title}}</a>
										</div>
										<div class="price">
											<span class="currentprice">
												{{li.price}}
											</span>
										</div>
									</li>
								
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div id="item-product" >
					<div class="pro-mc">
						<h2>精品推荐</h2>
					</div>
					<div class="pro-mt">
						<div class="mt-for1" ng-repeat="li in foreArr">
							<div class="mt-img">
								<a href="">
									<img src={{li.src}} alt="" title={{li.title}}/>
								</a>
							</div>
							<div class="mt-name" title={{li.title}}><a href="" title={{li.title}}>{{li.title}}</a></div>
							<div class="mt-detail">
								{{li.detail}}
							</div>
						</div>
					</div>
				</div>
				
				<div style="clear: both;"></div>
				
				<!--1f-->
				<div class="floor" ng-repeat="arr in floorArr">
					<div class="floor-nav">
						<div class="flnav-mt">
							<h2>{{arr.name}}</h2>
							<span class="flnav-num">{{arr.floor}}</span>
						</div>
						<div class="flnav-mc">
							<ul>
								<li ng-repeat="list in arr.nav">
									<a href="">{{list.list}}</a>
								</li>
								
							</ul>
							<span class="flnav-img">
								<img src={{arr.navsrc}} alt="宠物粮食" />
							</span>	
						</div>
						
					</div>
					<div class="floor-detail">
						<div class="fldet-outer">
							<div class="tab-arrow">
								<b></b>
							</div>
							<div class="fldet-nav">
								<ul>
									<li class="">{{arr.title}}</li>
								</ul>
							</div>
							
							<div class="fldet-img">
								<div class="fldetimg-hold">
									<ul class="fldet-ul">
									<li ng-repeat="list in arr.detailli">
											<div class="fldetul-pic">
												<table cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td><a href=""><img src="{{list.src}}"/></a></td>
													</tr>
												</tbody>
											</table>
											</div>
											<div class="pname">
											<a href="" title={{list.title}}>{{list.title}}</a>
											</div>
											<div class="price">
												<span class="currentprice">
													{{list.price}}
												</span>
											</div>
										</li>
									</ul>
									<div class="fldet-smallslider">
										<ul>
											<li ng-repeat=" list in arr.detailimg">
												<a href=""><img src={{list.src}} alt="" /></a>
											</li>
										</ul>
										<!--<div class="fldet-ctrl">
											<a href=""></a>
											<a href=""></a>
											<a href=""></a>
										</div>-->
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<div class="floor-icon">
						<div class="floor-smt">
							<a href="">更多品牌
							<span>>></span>
							</a>
						</div>
						<div class="floor-smc">
							<ul>
								<li ng-repeat="list in arr.iconimg">
									<span>
										<a href=""><img src={{list.src}} alt="" /></a>
									</span>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="floor-adimg">
						<div>
							<a href="">
							<img src={{arr.admsrc}} alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<footer id="footer" ng-controller="footerCtrl">
			<div class="footer-list">
				<div class="footer-server">
					<dl ng-repeat="list in footerArr">
						<dt>{{list.title}}</dt>
						<dd ng-repeat="li in list.contents">
							<a href="">{{li.server}}</a>	
						</dd>
					</dl>
				</div>
			</div>
		</footer>
		
		
		<div id="bottom">
			<div class="bottom-menu"></div>
			<div class="bottom-nav">
				<span>友情链接:</span>
				<a href="">E宠商城</a>
				<b>|</b>
				<a href="">爱狗网</a>
				<b>|</b>
				<a href="">中国宠物网</a>
				<b>|</b>
				<a href="">更多...</a>
				<b>|</b>
			</div>
			
			<div class="bottom-info">
				<div><br /></div>
				<p>@&nbsp;2010～2016 all rights reserved&nbsp;</p>
				<div>本站的顾客和商家个人信息将决不会泄漏给其他任何机构和个人</div>
				<p>有任何购物问题请联系我们在线客服 | 电话：028-84119705 | 工作时间：周一至周六 8:00－18:00</p>
				<p><br /></p>
				<p><br /></p>
				<div>上海淘宠网络科技有限公司</div>
				<div><a href="">沪ICP备16029982号-1</a></div>
			</div>
			
			
			
		</div>
		
		<a  id="backtotop" href="#"></a>
		<div id="online-server" ng-click="showKF()"></div>
		<div id="server-box">
			<div id="server-header">
				<div id="server-mt">
					<a href="" title="关闭" ng-click="closeKF()">关闭</a>
				</div>
				<div id="server-time">
					<h3>在线时间</h3>
					<div class="oday">
						<span>周一至周六</span>
					</div>
					<div class="otime">
						<span>8:30-17:30</span>
					</div>
				</div>
			</div>
			<div id="server-body">
				<div class="chat">
					<div class="chat-t">QQ在线客服</div>
					<ul>
						<li>
							<a href="">
								<img src="img/qqonline.png" alt="" />
								<span>成都服宋</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="server-footer">
				<div id="footer-hotline">
					<span>028-84119705</span>
				</div>
				<div id="footer-close" ng-click="closeKF()">关闭在线客服</div>
			</div>
		
		
	</body>
	<!--导入js插件-->
	<script src="libs/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<!--js-->
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	
</html>
