<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册会员_派摩商城-宠物犬猫用品批发订购</title>
		<link rel="stylesheet" type="text/css" href="css/regist.css"/>
		<link href="Font-Awesome/css/font-awesome.css" rel="stylesheet"/>
	</head>
	<body ng-app="registApp" ng-controller="registctrl">
		
		<div id="login-form" >
			<div id="user-login">
				<div id="login-header">
					<div class="logo-warp">
						<a href="">
							<img src="img/7cbf8d477e9640eaa3fc6eefd188bcb9.png" alt="" />
						</a>
						
					</div>
				</div>
				<div id="login-warp">
					<div id="login-banner"></div>
					<div id="login-box"  >
						<div id="logbox-con">
							<div id="logbox-form">
								<div id="dialog-form">
									<div class="logbox-hd">
										<h3>注册会员</h3>
									</div>
									<form id="regist"  novalidate name="myForm" ng-submit="regist()">
										<div class="logbox-field">
											<input type="text" id="username" name="username" placeholder="输入用户名/手机号码" required ng-minlength="4" ng-model="username" title="用户名请选择手机号或者不低于4位账号"/>
											<span ng-show="myForm.username.$valid&&myForm.username.$dirty" class="icon-ok-sign"></span>
											<span ng-show="myForm.username.$invalid&&myForm.username.$dirty" class="icon-remove-sign" title="用户名请选择手机号或者不低于4位账号"></span>
										</div>
										<div class="logbox-field">
											<input type="password" name="password" id="password" placeholder="输入密码" autocomplete="off" required ng-minlength="6" ng-model="password" title="请输入6位以上密码"/>	
											<span ng-show="myForm.password.$valid&&myForm.password.$dirty" class="icon-ok-sign"></span>
											<span ng-show="myForm.password.$invalid&&myForm.password.$dirty" class="icon-remove-sign" title="请输入6位以上密码"></span>
										</div>
										<div class="logbox-field">
											<input type="password"  name="confrim"  id="confrim" placeholder="请确认密码" autocomplete="off" required ng-model="confrim"/>	
											<span ng-show="password==confrim&&myForm.confrim.$dirty" class="icon-ok-sign"></span>
											<span ng-show="password!=confrim&&myForm.confrim.$dirty" class="icon-remove-sign" title="两次密码输入不一致"></span>
										</div>
										<div class="logbox-field">
											<input type="email" id="mail" name="mail" placeholder="请输入您的邮箱地址" ng-model="mail"/>
											<span ng-show="myForm.mail.$valid&&myForm.mail.$dirty" class="icon-ok-sign"></span>
											<span ng-show="myForm.mail.$invalid&&myForm.mail.$dirty" class="icon-remove-sign" title="邮箱格式错误"></span>
										</div>
										<div class="logbox-field">
											<input type="text" id="tel" name="tel" placeholder="请输入您的手机号码" pattern="^1[3|5|7|8]\d{9}$" ng-model="tel" required=""/>
											<span ng-show="myForm.tel.$valid&&myForm.tel.$dirty" class="icon-ok-sign"></span>
											<span ng-show="myForm.tel.$invalid&&myForm.tel.$dirty" class="icon-remove-sign" title="手机号码格式错误"></span>
										</div>
										<div class="logbox-field">
											<input type="submit" name="loginbtn" id="loginbtn" value="立即注册" ng-disabled="myForm.$invalid||psw!=confirm"/>
										</div>
									</form>	
								</div>
							</div>
						</div>
						<div id="logbox-bg"></div>
					</div>
				</div>
			</div>
			
		</div>
			

		
		<div id="footer">
			<pre>
				联系地址：成都市成渝立交南外侧万科路5号万科魅力之城金库三单元2008 
        			订购热线：028-84119705 联系电话：028-84119705 邮箱：www.petzmall@163.com
			Copyright © 2016 上海淘宠网络科技有限公司, All Rights Reserved<a href="http://www.miitbeian.gov.cn " target="_blank"> 沪ICP备16029982号-1</a>
			</pre>
		</div>





		<div id="online-server" ng-click="showKF()"></div>
		<div id="server-box">
			<div id="server-header">
				<div id="server-mt">
					<a href="" title="关闭" ng-click="closeKF()">关闭</a>
				</div>
				<div id="server-time">
					<h3>在线时间</h3>
					<div class="oday">
						<span>周一至周六</span>
					</div>
					<div class="otime">
						<span>8:30-17:30</span>
					</div>
				</div>
			</div>
			<div id="server-body">
				<div class="chat">
					<div class="chat-t">QQ在线客服</div>
					<ul>
						<li>
							<a href="">
								<img src="img/qqonline.png" alt="" />
								<span>成都服宋</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="server-footer">
				<div id="footer-hotline">
					<span>028-84119705</span>
				</div>
				<div id="footer-close" ng-click="closeKF()">关闭在线客服</div>
			</div>
	</body>
	<script src="libs/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/regist.js" type="text/javascript" charset="utf-8"></script>
</html>
